.img {
    height : 100px;
    width: 250px;
    margin-top: 30px;
}

.divw {
    max-width: 30%;
}

.input-tit-mar {
    margin-right: 295px;
}
.input-tit-wid {
    width: 100px;
}
.input-tit-mar3 {
    margin-right: 260px;
}

.login {
    margin-left: 220px;
}
.login2 {
    margin-right: 310px;
}

.title-mar {
    margin-right: 210px;
}

.pwck-mar {
    margin-right: 240px;
}

.btn-wid {
    width: 120px;
}

.btn2-wid {
    width: 200x;
}

.btn3-wid {
    width: 470px;
}

.btn4-wid {
    width: 150px;
}

.all-mar {
    margin-top: 50px;
    margin-bottom: 50px;
}

.all-wid {
    width: 700px;
}

.input-wid{
    width: 475px;
}
.body-wid{
    width: 410px;
}