.cate {border: 1px solid rgba(0, 0, 0, 0.2) !important;}
.item-h{font-weight: bold; color: rgba(0, 0, 0, 0.4);}
.item-h:hover{color: rgb(0, 0, 0); font-size: 15pt; cursor: pointer;}
.panbox{width: 400px; height: 400px;}
.btnbox{width: 410px;}
.btnw{width: 194px;;}
.dnone{display: none;}